// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macros.
#define HRML(k1,k2,k3,k4) &hml LCTRL k1  &hml LALT k2  &hml LGUI k3  &hml LSHFT k4
#define HRMR(k1,k2,k3,k4) &hmr RSHFT k1  &hmr RGUI k2  &hmr RALT k3  &hmr RCTRL k4
#define A_ALT &hml LALT A
#define S_L2 &ltl 2 S
#define D_L1 &ltl 1 D
#define F_SFT &hml LSHFT F
#define RBKT_SFT &hml LSHFT RBKT
#define J_SFT &jht RSHFT 0
#define K_L1 &ltr 1 K
#define L_L2 &ltr 2 L
#define QT_ALT &hmr RALT SQT
#define BSPC_GUI &hml LGUI BSPC
#define DEL_CTL &hml LCTRL DEL
#define ENTER_GUI &hmr RGUI ENTER
#define SPACE_CTL &hmr RCTRL SPACE
#define BTPRV &bt BT_PRV
#define BTNXT &bt BT_NXT
#define BTCLR &bt BT_CLR
#define BT0 &bt BT_SEL 0

/ {
    behaviors {

        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            bindings = <&kp>, <&kp>;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            bindings = <&kp>, <&kp>;
        };

        ltl: layer_tap_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            bindings = <&mo>, <&kp>;
        };

        ltr: layer_tap_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            bindings = <&mo>, <&kp>;
        };

        jtab: j_or_tab {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp TAB>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        jht: j_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            bindings = <&kp>, <&jtab>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp TAB>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        //│ Q            │ W            │ E            │ R            │ T            │   │ Y            │ U            │ I            │ O            │ P            │
            &kp Q          &kp W          &kp E          &kp R          &kp T              &kp Y          &kp U          &kp I          &kp O          &kp P
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│ A            │ S            │ D            │ F            │ G            │   │ H            │ J            │ K            │ L            │ '            │
            A_ALT          S_L2           D_L1           F_SFT          &lt 3 G            &lt 3 H        J_SFT          K_L1           L_L2           QT_ALT
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│ Z            │ X            │ C            │ V            │ B            │   │ N            │ M            │ , <          │ . >          │ / ?          │
            &kp Z          &kp X          &kp C          &kp V          &kp B              &kp N          &kp M          &kp COMMA      &kp DOT        &kp FSLH
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
        //                                             │ BSPC         │ DEL          │   │ ENTER        │ SPACE        │
                                                         BSPC_GUI       DEL_CTL            ENTER_GUI      SPACE_CTL
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        one_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        //│ C-`          │              │ {            │ }            │ -            │   │              │ 7            │ 8            │ 9            │ =            │
            &kp LC(GRAVE)  &trans         &kp LBRC       &kp RBRC       &kp MINUS          &trans         &kp N7         &kp N8         &kp N9         &kp EQUAL
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│ G-`          │              │ [            │ ]            │ _            │   │ CAPS         │ 4            │ 5            │ 6            │ ;            │
            &kp LG(GRAVE)  &trans         &kp LBKT       RBKT_SFT       &kp UNDER          &kp CAPS       &kp N4         &kp N5         &kp N6         &kp SEMI
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│ \ |          │              │ (            │ )            │              │   │ `            │ 1            │ 2            │ 3            │ # ~          │
            &kp NUBS       &trans         &kp LPAR       &kp RPAR       &trans             &kp GRAVE      &kp N1         &kp N2         &kp N3         &kp NUHS
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
        //                                             │ BSPC         │              │   │              │ 0            │
                                                         BSPC_GUI       &trans             &trans         &kp N0
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        two_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        //│ !            │ @            │ #            │ $            │ %            │   │ ^            │ &            │ *            │              │ +            │
            &kp EXCL       &kp AT         &kp HASH       &kp DLLR       &kp PRCNT          &kp CARET      &kp AMPS       &kp ASTRK      &trans         &kp PLUS
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│              │              │ VOL-         │ VOL+         │              │   │ LEFT         │ DOWN         │ UP           │ RIGHT        │ "            │
            &trans         &trans         &kp VOLD       &kp VOLU       &trans             &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp DQT
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│ |            │              │              │              │              │   │ PREV         │ PLAY         │ NEXT         │              │ ~            │
            &kp PIPE2      &trans         &trans         &trans         &trans             &kp C_PREV     &kp C_PP       &kp C_NEXT     &trans         &kp TILDE2
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
        //                                             │              │              │   │              │              │
                                                         &trans         &trans             &trans         &trans
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };

        three_layer {
            bindings = <
        //╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
        //│ BT PRV       │ F1           │ F2           │ F3           │              │   │ BT NXT       │ F10          │ F11          │ F12          │              │
            BTPRV          &kp F1         &kp F2         &kp F3         &trans             BTNXT          &kp F10        &kp F11        &kp F12        &trans
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│ BT CLR       │ F4           │ F5           │ F6           │              │   │ BT 0         │ F13          │ F14          │ F15          │              │
            BTCLR          &kp F4         &kp F5         &kp F6         &trans             BT0            &kp F13        &kp F14        &kp F15        &trans
        //├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
        //│              │ F7           │ F8           │ F9           │              │   │              │ F16          │ F17          │ F18          │              │
            &trans         &kp F7         &kp F8         &kp F9         &trans             &trans         &kp F16        &kp F17        &kp F18        &trans
        //╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┴──────────────┴──────────────╯
        //                                             │              │              │   │              │              │
                                                         &trans         &trans             &trans         &trans
        //                                             ╰──────────────┴──────────────╯   ╰──────────────┴──────────────╯
            >;
        };
    };
};
